.customers__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.customers__item {
    display: inline-flex;
    align-items: center;
    // margin-right: 30px;

    // &:nth-last-child(1) {
    //     margin-right: 0px;
    // }
}

.customers__link {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 210px;
    height: 92px;
    border: 1px solid var(--icons-clients-color);
    border-radius: 4px;
    transition: fill 250ms var(--transition-timing-function);

    &:focus,
    &:hover {
    border: 1px solid var(--accent-color-main);
    border-radius: 4px;
    }

    @media (min-width: 768px) {
        width: 226px;
    }

    @media (min-width: 1200px) {
        width: 170px;
    }
}

.customers__icon {
    align-items: center;
    display: block;
    fill: var(--icons-clients-color);
    transition: fill 250ms var(--transition-timing-function);

    .customers__link:hover & {
        fill: var(--accent-color-main);
    }
    
    .customers__link:focus & {
        fill: var(--accent-color-main);
    }
}





