.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.footer__container {
    display: flex;
    flex-direction: column;

}
.footer__left-container {
    display: block;
    margin: 0 0 45px;

    @media (min-width: 1200px) {
        margin-right: 4.375rem;
        margin-bottom: 0;
    }
}

.footer__adress {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
        align-items: flex-start;
        flex-wrap: wrap;
    }
}

.footer__address {
    display: inline-block;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71px;
    color: var(--color-white);
    text-decoration: none;
}

.footer__contacts {
    display: inline-block;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    
    &:hover,
    &:focus {
    color: var(--accent-color-main); 
    }
}
.footer__address--navi {
    color: var(--color-white);
}

.footer__adress-item {
    &:not(:last-child) {
        margin-bottom: 9px;
    }
}

.footer__middle-container {
    margin-bottom: 15px;

    @media (min-width: 1200px) {
        margin-bottom: 0;
    }
}

.footer__join {
    display: flex;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    padding-top: 15px;
    margin-bottom: 20px;
    color: var(--color-white);
    justify-content: center;

    @media (min-width: 768px) {
        justify-content: flex-start;
    }
}

.footer__right-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    // justify-content: center;

}

.footer__subscription {
    display: flex;
    outline: 2px solid tomato;
    flex-direction: column;
    align-items: center;
}

.footer__subscription-email {
    // display: flex;
    color: var(--text-color-gray);
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    
    border-radius: 4px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    &::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    }
}

.footer__subscription-label {
    display: block;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.footer__subscription-btn {
    position: relative;
    display: flex;
    align-content: flex-start;
    padding: 10px 29px;

    &::after {
    content: "";
    position: absolute;
    top: 13px;
    right: 28px;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-send.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
}


