.our-jobs__section {
    display: none;
    padding-top: 0px;

    @media (min-width: 1200px) {
        display: block;
    }
}

.our-jobs__list {
    display: flex;
}

.our-jobs__item {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(100%/4);
        background-color: rgba(47, 48, 58, 0.8);
    }

    .our-jobs__list & + & {
        margin-left: 30px;
    }
}

.our-jobs__description {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    bottom: 27px;
    display: inline-block;
    text-transform: uppercase;
    color: var(--color-white);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
