:root{
    --text-color-black: #212121;
    --color-white: #FFFFFF;
    --text-color-gray: #757575;
    --text-color-contacts-footer: rgba(255,255,255,0.6);
    --accent-color-main: #2196F3;
    --secondary-background-color: #f5f4fa;
    --icons-clients-color: #afb1b8;
    --background-color: #e5e5e5;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}